<h4>HUBS</h4>
<table class="table table-light table-striped table-hover table-bordered" >
  <thead class="thead-dark">
  <tr class="active">
    <th>NAME</th>
    <th>IP</th>
  </tr>
  </thead>
  <tbody>
  <tr class="active">
    <td>localhost</td>
    <td>127.0.0.1</td>
  </tr>
  </tbody>
</table>